<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.image_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @garden.plants.each do |plant| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
            <%= plant.name %>
            <%= link_to plant_path(plant), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <div class="card-tags">
              <div>
                <% plant.plant_tags.each do |plant_tag| %>
                  <span>
                    <%= plant_tag.tag.name %>
                    <%= link_to plant_tag_path(plant_tag), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <%= link_to new_plant_plant_tag_path(plant) do %>
                <i class="fas fa-plus"></i>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    </div>

  </div>
</div>


<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-4">
      <h3>Add a plant to this garden</h3>
      <%= simple_form_for [ @garden, @plant ] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit "Add a new plant", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
